.firstChange {
  background-color: blue;
  color: gold;
  background-position: 16px: 16px;
}

.fonts {
  font-size: 36px;
  font-style: normal;
  font: helvetica;
}

.backgrounds {
  background-color: yellow;

}
