html, body {
	margin: 0px;
	background-color: #000066;
	font-family: helvetica;
}

.divContainer {
	width: 800px;
	height: 900px;
	margin: auto;
	background-color: #FFFFFF;
	margin-top: 50px;
}

.divTitle {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 25px;
}

.divContent {
	width: 700px;
	height: 90000px;
	margin: auto;
}

.divPic {
	text-align: center;
}

.myPic {
	width: 350px;

}


.paragraph {
	margin-bottom: 20px;
	margin-top:20px;
	font-size:14px;
	text-align: center;
}	


.icon {
	width: 30px;

}